/* ==========================================================================
    GLOBAL
   ========================================================================== */

body {
  padding: 10px 0;
  font: 300 14px "Lato", sans-serif;
  color: #444;
  background: #fff;
}


/* ==========================================================================
    HELPERS
   ========================================================================== */

.text-thick {
	font-weight: 700;
}

.text-thin {
	font-weight: 100;
}


/* ==========================================================================
    PROFILE
   ========================================================================== */

.profile {
	text-align: right;
	color: #2d3c49;
}


/* ==========================================================================
    JUMBOTRON
   ========================================================================== */

.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	color: white;
	background-image: url("https://i.ytimg.com/vi/A9abHX_NSK4/maxresdefault.jpg");
}

.jumbotron p {
	padding: 10px;
	font-size: 2em;
	font-weight: 300;
	color: white;
}

.jumbotron .btn {
	padding: 14px 24px;
	font-size: 20px;
	color: #1c2c49;
}

/* ==========================================================================
    OTHERS
   ========================================================================== */

.hero-feature {
    margin-bottom: 30px;
}

.footer {
    margin: 20px 0;
}

.social-links a {
	margin: 0 20px 0 0;
	color: darkgrey;
}

.social-links a:hover {
	color: grey;
}

/* ==========================================================================
    RESPONSIVE
   ========================================================================== */

@media only screen and (max-width: 768px) {

	.profile {
		text-align: center;
	}

	.profile-logo {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.footer > * {
		text-align: center;
		margin: 5px 0;
	}
}
